@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

a {
  color: black;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 120px;
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 30px 3%;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 85px;
}

@media screen and (max-width: 465px) {
  .container {
    padding: 20px 2%;
  }
}

:root {
  --green-custom: #068932;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: #fff;
  font-size: 15px;
}

body>#root {
  overflow-x: hidden !important;
}